# Visual Studio
.vs/
bin/
obj/
*.user
*.suo
*.cache
*.log

# Archivos de base de datos locales
*.mdf
*.ldf

# Rider / ReSharper / JetBrains
.idea/
*.sln.iml

# Node / Angular (si hay frontend)
node_modules/
dist/
